.DigitalGrid {
   overflow: hidden;
}

.container {
   display: flex;
   flex-wrap: wrap;
}

.imageItem {
   width: 50%;
   height: 660px;

   & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
   }

   // tablet
   @media (max-width: 980px) {
      width: 100%;
   }
}

.progressItem {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 50px;

   width: 50%;
   height: 660px;

   background-color: #000;
   padding: 60px 100px;

   // tablet
   @media (max-width: 1200px) {
      padding: 60px 21px;
   }

   // tablet
   @media (max-width: 980px) {
      width: 100%;
      height: auto;
   }
}

.text {
   line-height: 1.542em;
   font-size: 24px;
   font-weight: 300;
   font-family: 'Source Sans Pro', sans-serif;
   color: #fff;
}

.progressWrap {
   width: 100%;
   padding: 5px 0 36px;
   color: #fff;
}

.progress {
   padding-top: 14px;

   &:not(:first-child) {
      margin-top: 4px;
   }

   & > .progressLabel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 6px;

      & > span:nth-of-type(1) {
         font-size: 14px;
         font-family: 'Source Sans Pro', sans-serif;
         color: #979797;
      }

      & > span:nth-of-type(2) {
         font-size: 20px;
         font-weight: 700;
         color: var(--primary);
      }
   }

   & > .progressBar {
      position: relative;

      height: 10px;
      background: #474747;

      & > div {
         content: '';
         position: absolute;
         left: 0;
         height: 100%;
         width: 0;
         background: var(--primary);
         transition: 0.8s ease-in-out 0.5s;
      }
   }
}

.sliderItem {
   width: 50%;
   height: 660px;

   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--primary);
   padding: 32px 0;

   // tablet
   @media (max-width: 1200px) {
      padding: 60px 21px 0;
   }

   // tablet
   @media (max-width: 980px) {
      height: 578px;
      width: 100%;
   }
}

.slider {
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.slideBtn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1;

   width: 40px;
   height: 40px;
   background: #000;
   color: #fff;
   transition: all 0.2s ease-in-out;

   &:hover {
      background: #fff;
      color: #000;
   }

   &.nextBtn {
      right: 0;
   }

   &.prevBtn {
      left: 0;
   }
}

.slideTrack {
   display: flex;
   height: 100%;
   width: 100%;
   padding: 80px 0 80px;

   transition: all 1s ease-in-out;
   margin-left: -100%;

   // tablet
   @media (max-width: 980px) {
      padding: 40px 0 80px;
   }

   // mobile
   @media (max-width: 768px) {
      padding: 0 0 80px;
   }
}

.slide {
   flex-shrink: 0;
   text-align: center;
   overflow: hidden;

   width: 100%;
   height: 100%;
   transition: opacity 0.7s ease-in-out;

   & > p:nth-of-type(1) {
      padding: 35px 0 20px;
      font-size: 24px;
      font-weight: 700;
   }

   & > p:nth-of-type(2) {
      padding: 0 0 40px;
      font-size: 14px;
      font-weight: 300;
      font-family: 'Source Sans Pro', sans-serif;
   }

   & > p:nth-of-type(3) {
      line-height: 1.5em;
      padding: 14px 80px 0;
      font-size: 24px;
      font-weight: 300;
      font-family: 'Source Sans Pro', sans-serif;

      // mobile
      @media (max-width: 600px) {
         font-size: 4vw;
         padding: 14px 13.3vw 0;
      }
   }

   & > p:nth-of-type(4) {
      padding-top: 16px;
      font-size: 100px;
      font-weight: 900;
      color: #00e7a9;
   }
}

.imageLinkItem {
   display: flex;
   flex-wrap: wrap;
   width: 100%;

   & > .link {
      --link-width: 25%;

      position: relative;
      width: var(--link-width);
      padding-top: var(--link-width);

      // mobile
      @media (max-width: 768px) {
         --link-width: 50%;
      }

      & > img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: center;
      }

      & > .overlay {
         position: absolute;
         top: 0;
         left: 0;

         width: 100%;
         height: 100%;
         background: rgba(18, 240, 177, 0.8);

         transition: 0.3s ease-in-out;
         opacity: 0;

         & > .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 42px;
            color: #fff;

            &.show {
               opacity: 0;
               animation: floatDown 0.3s ease-in-out 0.2s forwards;
            }

            &.hide {
               animation: floatUp 0.3s ease-in-out;
            }
         }
      }
   }
}

@keyframes floatUp {
   from {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
   to {
      opacity: 0;
      top: 50%;
   }
}
@keyframes floatDown {
   from {
      opacity: 0;
      top: 0;
   }
   to {
      opacity: 1;
      transform: translate(-50%, -50%);
   }
}

.imageModal {
   position: fixed;
   top: 0;
   left: 0;

   display: none;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0, 0.7);
   z-index: 1;

   &:hover {
      & .number {
         opacity: 1;
      }

      & .buttonWrap {
         opacity: 1;
      }

      & .modalBtn {
         opacity: 1;
      }
   }

   &.show {
      animation: fadeIn 0.5s ease-in-out;
   }

   &.hide {
      animation: fadeOut 0.5s ease-in-out;
   }
}

.playBar {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 3px;

   & > div {
      position: absolute;
      left: 0;
      height: 100%;
      width: 0;
      background: var(--primary);
      transition: all 5s linear;
   }

   &.replay > div {
      animation: longer 3.5s linear infinite;
   }
}

.number {
   position: absolute;
   top: 0;
   left: 0;
   color: #ccc;

   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;

   font-size: 14px;
   font-family: 'Source Sans Pro', sans-serif;
   letter-spacing: 2px;

   opacity: 0;
   transition: all 0.3s ease-in-out;
}

.buttonWrap {
   position: absolute;
   top: 0;
   right: 0;

   display: flex;
   align-items: center;
   justify-content: center;

   opacity: 0;
   transition: all 0.3s ease-in-out;

   & > button {
      width: 44px;
      height: 44px;

      font-size: 15px;
      color: #ccc;
      transition: all 0.2s ease-in-out;

      &:hover {
         color: #fff;
      }
   }
}

.modalBtn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);

   width: 38px;
   height: 38px;
   margin: 31px 21px 31px 6px;
   background: rgba(0, 0, 0, 0.5);
   color: #ccc;
   opacity: 0;
   transition: all 0.3s ease-in-out;

   &:hover {
      color: #fff;
   }

   &.nextBtn {
      left: 0;
   }

   &.prevBtn {
      right: 0;
   }
}

.imageModalBody {
   display: flex;
   justify-content: center;
   align-items: center;

   margin: 0 auto;
   max-width: 856px;
   width: 100%;
   height: 100%;

   &.zoomIn {
      max-width: 100%;

      & > img {
         cursor: zoom-out;
      }
   }

   & > img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      cursor: zoom-in;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

@keyframes longer {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}
