.Works {
   position: relative;
   overflow: hidden;
   // background-color: blue;
}

.container {
   position: relative;
   display: flex;

   max-width: 1212px;
   width: 100%;
   margin: 0 auto;
   z-index: 1;

   padding-top: 118px;
   padding-bottom: 54px;
   // background-color: cyan;

   // mobile
   @media (max-width: 768px) {
      flex-direction: column;
   }
}

.part {
   width: 50%;

   &.fullWidth {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      & > .workItem {
         width: 50%;

         // mobile small
         @media (max-width: 548px) {
            width: 100%;
         }
      }
   }

   // mobile
   @media (max-width: 768px) {
      width: 100%;
   }
}

.coverLetter {
   // background: #eee;
   padding: 0 21px 50px 21px;
   margin-top: 21px;

   // tablet
   @media (max-width: 1200px) {
      margin-top: 0;
      padding: 0 21px 72px 21px;
   }

   & > h6 {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.05em;
      margin-bottom: 54px;
      color: var(--primary);
   }

   & > div {
      margin-bottom: 31px;

      & > span {
         line-height: 1.55em;
         font-size: 24px;
         font-family: 'Source Sans Pro', sans-serif;
         font-weight: 300;
      }
   }

   & > button {
      height: 40px;

      font-size: 14px;
      font-weight: 700;
      padding: 0 17px;
      border: 2px solid #000;
      margin: 25px 25px 25px 0;
   }
}

.workItem {
   display: block;
   width: 100%;
   padding: 21px;
   cursor: pointer;

   &:hover {
      & > .detail > div:nth-of-type(1) {
         width: 90px;
      }
   }
}

.thumbnail {
   position: relative;
   padding-top: 100%;
   width: 100%;

   & > img {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
   }

   & > .overlay {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      background: rgba(18, 240, 177, 0.8);
      opacity: 0;
      transition: all 0.3s ease-in-out;

      & > .iconWrap {
         --duration: 0.3s;
         --delay1: 0.3s;
         --delay2: 0.35s;
         --delay3: 0.4s;
         --delay4: 0.45s;

         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;

         & > .iconLink {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 42px;
            width: 24px;
            height: 24px;
            margin: 10px 0.55em;

            // tablet
            @media (max-width: 980px) {
               font-size: 20px;
               margin: 10px 0.7em;
            }

            & > svg > path {
               fill: #fff;
            }
         }

         &.show > .iconLink {
            &:nth-of-type(1) {
               opacity: 0;
               animation: floatDown var(--duration) ease-in-out var(--delay1) forwards;
            }

            &:nth-of-type(2) {
               opacity: 0;
               animation: floatDown var(--duration) ease-in-out var(--delay2) forwards;
            }

            &:nth-of-type(3) {
               opacity: 0;
               animation: floatDown var(--duration) ease-in-out var(--delay3) forwards;
            }

            &:nth-of-type(4) {
               opacity: 0;
               animation: floatDown var(--duration) ease-in-out var(--delay4) forwards;
            }
         }

         &.hide {
            animation: floatUp var(--duration) ease-in-out;
         }
      }
   }
}

.detail {
   // background-color: #fff;
   width: 100%;
   padding-top: 32px;

   & > p {
      font-size: 24px;
      font-weight: 700;
   }

   // ________
   & > div:nth-of-type(1) {
      width: 50px;
      height: 0.8px;
      margin: 12px 0;
      background: var(--primary);
      transition: all 0.3s ease-in-out;
   }

   & > div:nth-of-type(2) {
      & > span {
         font-size: 14px;
         font-family: 'Source Sans Pro', sans-serif;
         color: #d1cbac;
         margin-right: 2px;
      }

      & > a {
         font-size: 14px;
         font-family: 'Source Sans Pro', sans-serif;
         color: #d1cbac;

         color: var(--primary);
         transition: all 0.2s ease-in-out;

         & > div {
            display: inline-block;
            width: 0.5px;
            height: 14px;
            background: #ccc;
            margin: 0 8px;
         }

         &:hover {
            color: #000;
            text-decoration: underline;
         }
      }
   }
}

.textBackground {
   position: absolute;
   bottom: -90px;
   left: -110px;

   font-size: 500px;
   font-weight: 700;
   letter-spacing: 0.05em;
   color: #f7f7f7;
}

@keyframes floatUp {
   from {
      opacity: 1;
      transform: translateY(0);
   }
   to {
      opacity: 0;
      transform: translateY(-18vh);
   }
}
@keyframes floatDown {
   from {
      opacity: 0;
      transform: translateY(-18vh);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
