:root {
   --primary: #12f0b1;
}

body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}

button, input {
   border: none;
   outline: none;
   cursor: pointer;
   background: none;
}

ul {
   list-style: none;
}

::-webkit-scrollbar {
   display: none;
}